.navbar-items {
    background: linear-gradient(-45deg, #cf112b 0%, #ad1227 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.navbar-logo {
    color: #fff;
    justify-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    flex-wrap: nowrap;
    font-size: 1.4vw;
}

.fa-tv {
    margin-left: 0.5rem;
    font-size: 1.3rem;
}

.left-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
}

.search-input{
    background: #191919;
    width: 340px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    padding: 20px; 
    margin-left: 0.8rem;
}

.fa-search {
    font-size: 20px;
}

.search-btn {
    border: none;
    color: #cf112b;
    width: 60px;
    height: 40px;
    border-bottom-right-radius: 30%;
    border-top-right-radius: 30%;
    background: #fff;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #fff;
    font-size: 14px;
    align-items: center;
    transition: 0.4s;
    width: 20vw;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 4rem;
} 

.nav-links {
    color:#fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    background-color: #f50928;
    border-radius: 4px;
    transition: all ease-out 0.2s;
}

.fa-bars {
    color: #fff;
}

.menu-icon {
    display: none;
}




@media screen and (max-width: 960px) {


    .navbar-items {
        position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #cf112b;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #f50928;
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: -100%;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fav-times {
        color: #fff;
        font-size: 2rem;
    }
}
